.contact{
  background: #637896;
  width: 100%;
  position: relative;
 
  
  
  &_details{
    
    
    height: 800px;
    max-width: 1280px;
      color: white;
      font-size:20px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 0px;
      padding-top: 0px;
      margin: 0 auto;
      background-size: 250px 250px;
       background: url(assets/IMG_20180421_110810.jpg) ;
       background-attachment: fixed ;
       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    }
    &_name{
        text-align: center;
        line-height: 50px;
        
    }
    &_portfolio{
        padding-top: 5px;
        text-align: center;
        line-height: 50px;
        
    }
    
    &_github{
        color: whitesmoke;
        background-color: #637896;
        width: 13%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        padding: 14px 25px;
        border-style: ridge;
        border: 2px solid #869ec2;
        border-radius: 30px;
        top: 20%;
        @media only screen and (max-width : 480px) {
            top: 435px;
            font-size:12px;
            }
    }
    &_linkedin{
        color: whitesmoke;
        background-color: #637896;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        left: 69%;
        width: 13%;
        border-style: ridge;
        border: 2px solid #869ec2;
        border-radius: 30px;
        @media only screen and (max-width : 480px) {
            top: 435px;
            font-size:12px;
            }
    }
}
.education {
    /* Style the button that is used to open and close the collapsible content */
&_collapsible {
    background-color: #395174;
    color: rgb(209, 205, 205);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    
  }
  
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  &_active, &_collapsible:hover {
    background-color: #ccc;
    color: darkblue;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  &_content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size:20px;
    font: 400 13.3333px Arial;
    text-align: center;
    line-height: 26px;

  }
}

.slider{
    width: 100%;
    height: 400px;
    background: #637896;
    position: relative;
    &_title{
        font: 400 13.3333px Arial;
        margin: 0 auto;
        font-size: 20px;
        color: rgb(209, 205, 205);
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
    }
    &_window{
        width: 400px;
        height: 200px;
        margin: 0 auto;
        background: rgb(209, 205, 205);
        margin-top: 50px;

        overflow: hidden;
        @media only screen and (max-width : 480px) {
            width: 200px;
            }
        &__wrapper{
            width: 800px;
            height: 200px;
            display: flex;
            transition: transform 800ms linear;
            @media only screen and (max-width : 480px) {
                width: 400px;
                }
        &___yallow{
            width: 400px;
            height: 100%;
            display: flex;
            @media only screen and (max-width : 480px) {
                width: 300px;
                flex-direction: column;
                
                }
            &____description{
                width: 200px;
                height: 100%;
                line-height: 20px;
                font-size: 18px;
                color: #3d2d10;
                text-align: center;
                font-weight: bold;
                @media only screen and (max-width : 480px) {
                    display: none;
                    line-height: 0px;
                    font-size: 13px;
                    height: 40%;
                    }
                
                ul, li{
                    padding: 5% 5%;
                    margin-top: 5%;
                    
                }
            }
            &____img{
                width: 200px;
                height: 100%;
                background: url(assets/THEYALOW.jpg);
                background-size: cover;
                @media only screen and (max-width : 480px) {
                    width: 300px;
                    height: 50%;
                    }
            }
        }
        &___repair{
            width: 400px;
            height: 100%;
            display: flex;
            @media only screen and (max-width : 480px) {
                width: 300px;
                flex-direction: column;
                }
            
            &____description{
                width: 200px;
                height: 100%;
                line-height: 20px;
                font-size: 18px;
                color: #3d2d10;
                text-align: center;
                font-weight: bold;
                @media only screen and (max-width : 480px) {
                    display: none;
                    line-height: 0px;
                    font-size: 13px;
                    height: 40%;
                    }
                
                ul, li{
                    padding: 5% 5%;
                    margin-top: 5%;
                    
                }
            }
            &____img{
                width: 200px;
                height: 100%;
                background: url(assets/Снимок.PNG);
                background-size: cover;
                @media only screen and (max-width : 480px) {
                    width: 300px;
                    height: 50%;
                    }
            }
        }
    }
    }

}
.first-position{ 
    transform: translate3d(0px, 0px, 0px);
    
}
.second-position{ 
    transform: translate3d(-400px, 0px, 0px);
    @media only screen and (max-width : 480px) {
        transform: translate3d(-300px, 0px, 0px);
        }
}
.left{
    border: 2px solid #706a7b;
    background-color: #435180;
    cursor: pointer;
    height: 55px;
    width: 30px;
    position: absolute;
    top: 100px;

}
.right{
    border: 2px solid #706a7b;
    background-color: #435180;
    cursor: pointer;
    height: 55px;
    width: 30px;
    position: absolute;
    top: 100px;
    right:0;
}
.content-collapsible{
    display: none;
    @media only screen and (max-width : 480px){
        display: block;
        height: 50%;
        width: 300px;
        background-color: #869ec2;
        color: black;
        font-size: 15px;
        text-align: left;
    }
}
.content-collapsible{
    display: none;
    @media only screen and (max-width : 480px){
        display: block;
        height: 50%;
        width: 300px;
        background-color: #869ec2;
        color: black;
        font-size: 15px;
        text-align: left;
    }
}
.button_active:hover {
    background-color: rgb(74, 74, 75);
    color: darkblue;
  }
  .button_active{
      height: 10%;
  }