@charset "UTF-8";
.contact {
  background: #637896;
  width: 100%;
  position: relative;
}

.contact_details {
  height: 800px;
  max-width: 1280px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  padding-top: 0px;
  margin: 0 auto;
  background-size: 250px 250px;
  background: url(assets/IMG_20180421_110810.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact_name {
  text-align: center;
  line-height: 50px;
}

.contact_portfolio {
  padding-top: 5px;
  text-align: center;
  line-height: 50px;
}

.contact_github {
  color: whitesmoke;
  background-color: #637896;
  width: 13%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  padding: 14px 25px;
  border-style: ridge;
  border: 2px solid #869ec2;
  border-radius: 30px;
  top: 20%;
}

@media only screen and (max-width: 480px) {
  .contact_github {
    top: 435px;
    font-size: 12px;
  }
}

.contact_linkedin {
  color: whitesmoke;
  background-color: #637896;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 69%;
  width: 13%;
  border-style: ridge;
  border: 2px solid #869ec2;
  border-radius: 30px;
}

@media only screen and (max-width: 480px) {
  .contact_linkedin {
    top: 435px;
    font-size: 12px;
  }
}

.education {
  /* Style the button that is used to open and close the collapsible content */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */
}

.education_collapsible {
  background-color: #395174;
  color: #d1cdcd;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.education_active, .education_collapsible:hover {
  background-color: #ccc;
  color: darkblue;
}

.education_content {
  padding: 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 20px;
  font: 400 13.3333px Arial;
  text-align: center;
  line-height: 26px;
}

.slider {
  width: 100%;
  height: 400px;
  background: #637896;
  position: relative;
}

.slider_title {
  font: 400 13.3333px Arial;
  margin: 0 auto;
  font-size: 20px;
  color: #d1cdcd;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.slider_window {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  background: #d1cdcd;
  margin-top: 50px;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .slider_window {
    width: 200px;
  }
}

.slider_window__wrapper {
  width: 800px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 800ms linear;
  transition: -webkit-transform 800ms linear;
  transition: transform 800ms linear;
  transition: transform 800ms linear, -webkit-transform 800ms linear;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper {
    width: 400px;
  }
}

.slider_window__wrapper___yallow {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___yallow {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider_window__wrapper___yallow____description {
  width: 200px;
  height: 100%;
  line-height: 20px;
  font-size: 18px;
  color: #3d2d10;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___yallow____description {
    display: none;
    line-height: 0px;
    font-size: 13px;
    height: 40%;
  }
}

.slider_window__wrapper___yallow____description ul, .slider_window__wrapper___yallow____description li {
  padding: 5% 5%;
  margin-top: 5%;
}

.slider_window__wrapper___yallow____img {
  width: 200px;
  height: 100%;
  background: url(assets/THEYALOW.jpg);
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___yallow____img {
    width: 300px;
    height: 50%;
  }
}

.slider_window__wrapper___repair {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___repair {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider_window__wrapper___repair____description {
  width: 200px;
  height: 100%;
  line-height: 20px;
  font-size: 18px;
  color: #3d2d10;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___repair____description {
    display: none;
    line-height: 0px;
    font-size: 13px;
    height: 40%;
  }
}

.slider_window__wrapper___repair____description ul, .slider_window__wrapper___repair____description li {
  padding: 5% 5%;
  margin-top: 5%;
}

.slider_window__wrapper___repair____img {
  width: 200px;
  height: 100%;
  background: url(assets/Снимок.PNG);
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .slider_window__wrapper___repair____img {
    width: 300px;
    height: 50%;
  }
}

.first-position {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.second-position {
  -webkit-transform: translate3d(-400px, 0px, 0px);
          transform: translate3d(-400px, 0px, 0px);
}

@media only screen and (max-width: 480px) {
  .second-position {
    -webkit-transform: translate3d(-300px, 0px, 0px);
            transform: translate3d(-300px, 0px, 0px);
  }
}

.left {
  border: 2px solid #706a7b;
  background-color: #435180;
  cursor: pointer;
  height: 55px;
  width: 30px;
  position: absolute;
  top: 100px;
}

.right {
  border: 2px solid #706a7b;
  background-color: #435180;
  cursor: pointer;
  height: 55px;
  width: 30px;
  position: absolute;
  top: 100px;
  right: 0;
}

.content-collapsible {
  display: none;
}

@media only screen and (max-width: 480px) {
  .content-collapsible {
    display: block;
    height: 50%;
    width: 300px;
    background-color: #869ec2;
    color: black;
    font-size: 15px;
    text-align: left;
  }
}

.content-collapsible {
  display: none;
}

@media only screen and (max-width: 480px) {
  .content-collapsible {
    display: block;
    height: 50%;
    width: 300px;
    background-color: #869ec2;
    color: black;
    font-size: 15px;
    text-align: left;
  }
}

.button_active:hover {
  background-color: #4a4a4b;
  color: darkblue;
}

.button_active {
  height: 10%;
}
/*# sourceMappingURL=styles.css.map */