.contact{
  background: url("assets/IMG_20180421_110810.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: relative;
  &_details{
      color: white;
      font-size:20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 20px;
      padding-top: 20px;
      position: absolute;
    }
    &_portfolio{
        padding-top: 5px;
    }
    &_github{
        color: whitesmoke;
        background-color: #637896;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 179px;
        left: 61px;
        width: 163px;
        border-style: ridge;
        border: 2px solid #869ec2;
        border-radius: 30px;
    }
    &_linkedin{
        color: whitesmoke;
        background-color: #637896;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        left: 756px;
        width: 174px;
        border-style: ridge;
        border: 2px solid #869ec2;
        border-radius: 30px;
    }
}


